.body-dark-bg {
  background: #131318 !important;
}
.banner-tab {
  margin-top: -36px;
  .container {
    @media (max-width: $mobile-breakpoint) {
      padding: 0 20px;
    }
  }
  .nav-tabs {
    border: 0;
    background: transparent;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: unset;
    margin: 0;
    padding: 0;
    position: static;
    bottom: 5px;
    border: 0;
    .nav-item {
      list-style: none;
      margin-right: 50px;
      margin-bottom: 10px;

      .nav-link {
        color: #ffffff;
        position: relative;
        transition: 0.3s;
        font-size: 17px;
        font-weight: normal;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;

        &.active,
        &:hover {
          &::before {
            position: absolute;
            bottom: -10px;
            height: 5px;
            background: #5765f2;
            width: 100%;
            left: 0;
            content: "";
            border-radius: 10px 10px 0px 0px;
          }
        }
      }
    }
  }
}
