.slide {
  font-size: 32px;
  margin: auto;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
}

.bullets {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    a {
      position: relative;
      padding: 10px 20px;
      display: inline-block;
      font-size: 15px;
      line-height: 22px;
      color: $light-gray;
      @include transition;
      &:after {
        position: absolute;
        left: 0;
        background: $white;
        width: 5px;
        height: 50px;
        content: "";
        top: 0;
        @include transition;
      }

      &.active {
        color: #23272a;
        &:after {
          background: $tag-color;
        }
      }
    }
  }
}

.active {
  color: red;
  font-weight: bold;
}

.slider-verticle {
  background: #fff;
  height: calc(100vh + 74px);
  padding: 0;

  .wrapper {
    left: 0 !important;
    right: 0;
    margin: 30px auto 0 !important;
    height: 100vh;
  }

  h5,
  .sub_title_5 {
    color: #5765f2;
    @media (max-width: $mobile-breakpoint) {
      font-size: 30px;
      line-height: 40px !important;
      margin-bottom: 10px;
      font-weight: 400;
    }
  }

  p {
    color: #23272a;
    @media (max-width: $mobile-breakpoint) {
      letter-spacing: 0.38px;
    }
  }

  .slider-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;

    @media (max-width: $mobile-breakpoint) {
      height: 100%;
    }
  }

  .slider-left {
    width: 60%;
    padding-right: 60px;
    background: #fff;
    position: relative !important;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 1;

    @media (max-width: $mobile-breakpoint) {
      width: 100%;
      align-items: flex-end;

      padding: 0 15px 30px;
      z-index: 1;
      background: transparent;
      z-index: 2;
    }

    .slider-v-desc {
      max-width: 597px;
      padding-left: 250px;
      padding-right: 0;
      background: #fff;
      @media (max-width: $mobile-breakpoint) {
        padding-left: 0;
        padding-right: 0;
        background: transparent;
        padding-bottom: 0;
      }

      span {
        text-decoration: underline;
      }
    }

    h5,
    .sub_title_5 {
      color: #5765f2;
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 15px;
      @media (max-width: $mobile-breakpoint) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    p {
      color: #23272a;
      padding-right: 50px;
      @media (max-width: $mobile-breakpoint) {
        padding-right: 0;
      }
    }

    ul {
      margin: 30px 0 0;
      padding: 0;
      li {
        font-size: 17px;
        line-height: 35px;
        color: #23272a;
        list-style: none;
        margin-bottom: 15px;
        background: url(https://do7q3d8g8n6kn.cloudfront.net/images/feature-icon.svg) no-repeat left top 3px;
        background-size: 24px;
        padding-left: 39px;
      }
    }
  }

  .slider-right {
    width: 40%;
    position: relative;
    max-width: 474px;
    max-height: 560px;

    @media (max-width: $mobile-breakpoint) {
      max-width: unset;

      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    img {
      border-radius: 20px;
      object-fit: cover;
      width: 100%;

      @media (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint2) {
        max-height: 450px;
      }
      @media (max-width: $mobile-breakpoint) {
        height: 540px;
      }
    }
    .figcaption {
      position: absolute;
      bottom: 0;
      width: 90%;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 15px;
      padding: 11px 50px 11px 20px;
      border-radius: 15px;
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      @media (max-width: $mobile-breakpoint) {
        display: none;
      }

      .large {
        font-size: 17px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: 400;
      }

      p {
        font-size: 12px;
        line-height: 18px;
        color: #fff;
      }
    }
  }

  &.hire-verticle-slider {
    .slider-top-desc-mobile {
      margin-top: 40px;
    }

    img {
      height: 356px;
      @media (max-width: $mobile-breakpoint) {
        height: 540px;
      }
    }
  }

  &.point-three {
    .pin-spacer-pinning {
      @media (max-width: $mobile-breakpoint) {
        height: 2500px !important;
      }
    }
  }

  &.point-four {
    .pin-spacer-pinning {
      @media (max-width: $mobile-breakpoint) {
        height: 3100px !important;
      }
    }
  }

  &.point-five {
    .pin-spacer-pinning {
      @media (max-width: $mobile-breakpoint) {
        height: 3600px !important;
      }
    }
  }

  &.point-six {
    .pin-spacer-pinning {
      @media (max-width: $mobile-breakpoint) {
        height: 4100px !important;
      }
    }
  }
}

.verticle-slider {
  height: 100vh;

  img {
    height: 100vh;
    width: 100%;
  }
}

.slider-verticle.fixed-slider {
  position: fixed;
  height: 100vh;
  top: 0;
  background: #fdd;
  z-index: 9;
  width: 100%;
}

.slick-dotted.slick-slider {
  margin: 0;
  float: none;
}

.slides {
  width: 100%;
  height: 100vh;

  .slide {
    color: #419be0;
    background: transparent;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}

.slider-verticle {
  height: 100%;

  &#slider-verticle {
    min-height: 2625px;

    @media (max-width: $mobile-breakpoint) {
      min-height: 2420px;
    }

    @media (max-width: $mobile-breakpoint-xs) {
      min-height: 2500px;
    }
  }

  .slick-track {
    margin: 0 auto;
  }

  .slick-slide {
    float: none !important;
  }
}
.slider {
  padding: 0;
  color: #23272a;
  .swiper-container {
    width: 100%;
    height: 100%;
  }
}
.slider__flex {
  display: flex;
  align-items: center;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
  flex-direction: row;
  align-items: center;
  margin-right: 0;
  margin-top: 24px;
  width: auto;
}
.slider__prev,
.slider__next {
  display: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__thumbs {
  height: auto;
  height: auto;
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }

  .swiper-slide {
    border-left: 3px solid #fff;
    padding-left: 20px;
    margin-bottom: 0 !important;
    padding: 15px 0 15px 10px;
    height: auto !important;
    min-width: 120px;
  }

  margin: 0 16px;
  .slider__image {
    transition: 0.25s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    color: #80006a;
    &:hover {
      opacity: 1;
    }
  }
  .swiper-slide-thumb-active {
    border-color: #5765f2;
    .slider__image {
      opacity: 1;
      color: #23272a;
    }
  }
}
.slider__images {
  height: 700px;
  width: 100%;
  overflow: hidden;
  @media (max-width: $mobile-breakpoint) {
    height: 540px;
  }
  .slider__image {
    img {
      transition: 3s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.slider-left {
  color: #35cf19;
}
.swiper-wrapper {
  .slider__image {
    align-items: center;
    display: flex;
    color: #23272a;
    border-radius: 0;
    font-size: 15px;
    line-height: 22px;
  }
}
@media (max-width: $mobile-breakpoint) {
  .slider__flex {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
}

.pin-spacer-pinning {
  margin: 0 auto !important;

  @media (max-width: $mobile-breakpoint) {
    height: 4100px !important;
  }
}

.philosophie {
  position: relative;
}

.indicators {
  left: 0;
  top: 50%;
  margin: 0 0;
  height: auto;
  width: 5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 9;
  transform: translateY(-50%);
  border-radius: 3px;
  background-color: #5765f238;

  @media (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.indicator {
  width: 150px;
  flex-grow: 1;
  margin: 0 0;
  background: transparent !important;
  padding: 15px 0 15px 15px;
  color: #23272a;
  cursor: pointer;
  border-radius: 3px;
  position: relative;

  &.scrolled {
    color: #23272a;

    &::before {
      background-color: #5765f2;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 3px;
    background-color: transparent;
    top: 0;
    left: 0;
  }
}

.philosophie .point {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  @media (max-width: $mobile-breakpoint) {
    height: 540px;
    overflow: hidden;
    align-items: end;
  }

  &:before {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    display: none;
    border-radius: 20px;
    @media (max-width: $mobile-breakpoint) {
      display: block;
    }
  }
}

.philosophie .wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  top: -60px;
  @media (max-width: $mobile-breakpoint) {
    top: 0;
  }
}

.point article {
  flex-basis: 60%;
  margin-right: auto;
}

.slider-top-desc {
  position: relative;
  z-index: 99;

  @media (min-width: $desktop-breakpoint2) {
    top: 90px;
  }
  @media (max-width: $desktop-breakpoint2) {
    padding-top: 75px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.slider-top-desc-mobile {
  display: none;
  padding-top: 75px;
  @media (max-width: $mobile-breakpoint) {
    display: block;
    margin-bottom: 40px;
  }
}

.partner-innovation {
  @media (max-width: $mobile-breakpoint) {
    .slider-top-desc-mobile {
      padding-top: 40px;
    }

    .pin-spacer-pinning {
      max-height: 3530px;
    }
  }
}
