.strapi-item-component {
  @include component_space;
  text-align: center;
  @media (max-width: $tablet-breakpoint) {
    margin-top: 100px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-top: 50px;
  }

  .row {
    margin: 0 -8px;
    .col-md-4 {
      margin-top: 100px;
      padding: 0 8px;
      @media (max-width: $tablet-breakpoint1) {
        width: 50%;
      }
      @media (max-width: $mobile-breakpoint) {
        margin-top: 50px;
        width: 100%;
      }
    }

    .strapi-item-box {
      text-align: left;

      .type6 {
        margin-bottom: 25px;
        font-weight: 400;
        border-bottom: 1px solid #000;
        padding-bottom: 15px;
        color: $tag-color;
      }

      p {
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        @media (max-width: $mobile-breakpoint) {
          margin-bottom: 0;
        }
      }
    }
  }
}

body.bg-dark {
  .strapi-item-component {
    h5,
    p,
    .sub_title_5 {
      color: $white;
    }

    .row {
      .strapi-item-box {
        .type6 {
          border-bottom-color: $white;
        }
      }
    }
  }
}

.services-important-wrapper {
  @include component_space_150;
}
