//**** FONT VARIABLES ****//
$primary-font: "Montserrat", sans-serif;
$bootstrap-icon: "bootstrap-icons";
$icomoon-font-family: "navigant" !default;
$ico-font-path: "../../../../../fonts" !default;
$ico-medium-arrow-down: "\e91e";
$ico-medium-close: "\e91f";
$ico-medium-search: "\e920";
$ico-scales: "\e910";
$ico-castle: "\e91a";
$ico-gears: "\e91c";
$ico-diagram: "\e91d";
$ico-chat: "\e91b";
$ico-share2: "\ea82";
$ico-mail: "\e900";
$ico-arrow-down-alt: "\e901";
$ico-arrow-up-right: "\e902";
$ico-arrow-down-right: "\e903";
$ico-construction: "\e904";
$ico-energy: "\e905";
$ico-financial: "\e907";
$ico-govt: "\e918";
$ico-healthcare: "\e908";
$ico-legal: "\e909";
$ico-life-sciences: "\e90a";
$ico-server: "\e90e";
$ico-externalLink: "\e906";
$ico-loadMore: "\e90b";
$ico-play: "\e90c";
$ico-vcard: "\e90d";
$ico-quotation: "\e911";
$ico-clock: "\e912";
$ico-filter: "\e913";
$ico-calendar: "\e914";
$ico-attachment: "\e915";
$ico-check: "\e916";
$ico-error: "\e917";
$ico-pdf: "\e919";
$ico-search: "\eb19";
$ico-arrow-long-right: "\eb4b";
$ico-search-alt: "\f002";
$ico-close-x: "\f00c";
$ico-thin-close: "\f00d";
$ico-bold-close: "\f00e";
$ico-download-arrow: "\f056";
$ico-twitter-square: "\f081";
$ico-facebook-square: "\f082";
$ico-linkedin-square: "\f08c";
$ico-thin-arrow-up: "\f090";
$ico-thin-arrow-down: "\f091";
$ico-thin-arrow-left: "\f092";
$ico-thin-arrow-right: "\f093";
$ico-twitter: "\f099";
$ico-facebook-f: "\f09a";
$ico-linkedin: "\f0e1";
$ico-add: "\f2c7";
$ico-remove: "\f2f4";
$ico-arrow-down: "\f3d0";
$ico-arrow-left: "\f3d2";
$ico-arrow-right: "\f3d3";
$ico-close: "\f405";
$ico-youtube: "\ea9d";
$ico-instagram: "\ea92";
$ico-network: "\e90f";
$ico-share2: "\ea82";

//**** BREAKPOINT ****//
$desktop-breakpoint6: 1700px;
$desktop-breakpoint5: 1600px;
$desktop-breakpoint4: 1500px;
$desktop-breakpoint3: 1441px;
$desktop-breakpoint: 1440px;
$desktop-breakpoint1: 1400px;
$desktop-breakpoint2: 1366px;
$tablet-breakpoint: 1200px;
$tablet-breakpoint2: 1100px;
$tablet-breakpoint1: 1024px;
$mobile-breakpoint: 899px;
$tablet-original: 768px;
$mobile-breakpoint-xs: 400px;
