//**** COLOR ****//

$black: #000000;
$white: #ffffff;
$red: red;
$light-gray-light: #f4f4f4;
$dark-black: #131318;
$light-gray: #818181;
$light-gray1: #c7c7c7;
$dark-gray1: #232630;
$tag-color: #5765f2;
$tag-bg-color: #f5d4c4;
$dark-blue: #232630;
$fill-btn-2: #e5936b;
$footer-bg: #124547;
$btn-hover: #5765f2;
$gh-bgopacity: rgba(165, 209, 255, 0.4);
$dark-purple: #3f3e74;

$addxp-gray-light: #969696;
