header {
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 9;

  .d-md-none {
    @media (max-width: $tablet-breakpoint1) {
      display: block !important;
    }
  }

  .navbar-nav {
    @media (max-width: ($desktop-breakpoint1 - 1px)) {
      margin-right: 100px;
    }

    @media (max-width: ($tablet-breakpoint1 - 1px)) {
      margin-right: 0;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
  }
  @media (max-width: 1025px) {
    .navbar-expand-lg .navbar-toggler {
      display: block;
    }
  }
  .navbar-toggler {
    @media (max-width: $tablet-breakpoint1) {
      display: none;
    }

    @media (max-width: $tablet-breakpoint1) {
      background: url(https://do7q3d8g8n6kn.cloudfront.net/images/toggle.svg) no-repeat left top;
      width: 50px;
      height: 50px;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.6s;
      border: 0;
    }

    &:focus {
      outline: none;
      border: 0;
      box-shadow: none;
    }
  }

  .form-icon {
    position: absolute;
    right: -100px;

    @media (max-width: ($desktop-breakpoint1 - 1px)) {
      right: 0;
    }

    @media (max-width: $tablet-breakpoint1) {
      right: 60px;
    }
  }

  .header-white,
  &.header-white {
    background: transparent !important;
  }

  &.fixed-header {
    .header-white {
      background: $black !important;
    }

    nav {
      @media (max-width: $tablet-breakpoint1) {
        background: $black;
      }
    }
  }

  .navbar-brand {
    width: 144px;

    @media (max-width: $tablet-breakpoint1) {
      width: 120px;
    }

    img {
      width: 100%;
      display: block;
      filter: brightness(0) invert(1);
    }
  }

  .navbar-collapse {
    @media (max-width: $tablet-breakpoint1) {
      position: fixed;
      right: 0;
      top: 0;
      background: $white;
      width: 100%;
      height: 50%;
      transform: translateY(-100%);
      transition: 0.3s;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 38px 0;
      z-index: 99;
      border-radius: 0 0 20px 20px;

      &.show {
        transition: 0.3s;
        transform: translateY(0);
        top: 65px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $white;
      }

      .mobile-menu-desc {
        padding: 0 25px;
        display: block !important;

        .mobile-desc-image {
          img {
            @media (max-width: $tablet-breakpoint1) {
              width: 100%;
              display: block;
              margin-bottom: 30px;
            }
          }
        }

        p {
          margin-bottom: 25px;
          font-size: 12px;
          line-height: 20px;
        }

        img {
          margin-bottom: 15px;
        }
      }
    }
  }

  .mobile-menu-desc {
    display: none !important;
  }

  .mobile-text {
    display: none;

    @media (max-width: $tablet-breakpoint1) {
      display: block;
    }
  }
}

header nav {
  height: 65px;
  background: #5765f2;

  .container {
    position: relative;
  }

  .nav-item {
    &:first-child {
      .dropdown-menu {
        background-image: url(https://do7q3d8g8n6kn.cloudfront.net/images/solutions-banner-bg.png);
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: $tablet-breakpoint1) {
          background-image: none;

          &::before {
            content: "";
            background-image: url(https://do7q3d8g8n6kn.cloudfront.net/images/solutions-banner-bg-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: -20px;
            left: -10px;
            width: 100%;
            min-height: calc(100% + 30px);
          }
        }
      }

      .box-title {
        display: flex;
        align-items: center;
        z-index: 9;

        img {
          margin-right: 10px;
        }

        span {
          color: $white;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .item-box {
        min-width: calc(33.33% - 10px);
        padding: 20px;
        background-color: #000;
        border-radius: 20px;
        transition: all 0.5s ease-in-out;
        position: relative;
        overflow: hidden;

        @media (max-width: $tablet-breakpoint1) {
          min-width: 100%;

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }

        .item-box-bg {
          height: auto;
          width: auto;
          position: absolute;
          max-height: 116px;
          bottom: 0;
          right: 0;
          z-index: 1;
          opacity: 0;
          transition: all 0.2s ease-in-out;

          @media (max-width: $tablet-breakpoint1) {
            opacity: 1;
            display: flex;
          }
        }

        &:hover {
          .box-title {
            span {
              color: #fff;
            }
          }

          .item-box-bg {
            opacity: 1;
          }
        }
      }

      .dropdown-menu {
        &::after {
          content: "";
          background-image: url(https://do7q3d8g8n6kn.cloudfront.net/images/solutions-banner-arrow-bg.png);
          background-size: cover;
          background-repeat: no-repeat;

          @media (max-width: $tablet-breakpoint1) {
            display: none;
          }
        }

        .title-text {
          @media (max-width: $tablet-breakpoint1) {
            display: none;
          }
        }

        @media (max-width: $tablet-breakpoint1) {
          .mobile-text {
            display: flex;
            position: relative;
            font-size: 30px !important;
            line-height: 40px !important;
          }
        }
      }

      h2 {
        margin-bottom: 0 !important;
      }

      .title-text {
        max-width: 630px;
        color: $white !important;
        font-size: 45px !important;
        line-height: 60px !important;
      }

      .item-box-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 42px;

        .box-title {
          position: relative;

          img {
            max-width: 25px;
            height: auto;
            filter: brightness(2);
            display: block;
          }
        }

        p {
          font-size: 12px;
          line-height: 18px;
          color: $white;
          margin-top: 10px;
          max-width: 265px;
          margin-bottom: 0;
          z-index: 9;
          position: relative;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .item-box:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    &:last-child {
      .dropdown-menu .mega-content {
        .title-text {
          margin-top: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 70px;

      @media (max-width: $tablet-breakpoint1) {
        margin-right: 25px;
      }
    }

    &:nth-child(1) {
      .dropdown-menu {
        &:after {
          left: 45%;

          @media (min-width: $desktop-breakpoint3) {
            left: 47%;
          }

          @media (max-width: ($desktop-breakpoint1 - 1px)) {
            left: 40%;
            margin: 0;
          }

          @media (max-width: $tablet-breakpoint) {
            left: 32%;
          }
        }
      }
    }

    &:nth-child(3) {
      .dropdown-menu {
        &:after {
          left: 73%;

          @media (min-width: $desktop-breakpoint3) {
            left: 75%;
          }

          @media (max-width: $tablet-breakpoint2) {
            left: 70%;
          }

          @media (max-width: ($desktop-breakpoint1 - 1px)) {
            left: 69%;
            margin: 0;
          }

          @media (max-width: $tablet-breakpoint) {
            left: 66%;
          }
        }
      }
    }

    &:nth-child(4) {
      .dropdown-menu {
        &:after {
          left: 85%;

          @media (min-width: $desktop-breakpoint3) {
            left: 90%;
          }

          @media (min-width: $desktop-breakpoint1) and (max-width: $desktop-breakpoint3) {
            left: 89%;
          }

          @media (max-width: $tablet-breakpoint2) {
            left: 87%;
          }

          @media (max-width: $tablet-breakpoint) {
            left: 83%;
          }
        }
      }
    }

    @media (max-width: $tablet-breakpoint1) {
      margin: 0 25px 25px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      transform: translateX(0);
      transition: 0.3s;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 20px;
        margin-bottom: 0;

        .dropdown-menu {
          margin-top: -135px !important;
        }
      }

      &:first-child {
        .dropdown-menu {
          margin-top: -20px !important;
        }
      }

      .hide-mobile {
        display: none;
      }

      .blog-overview,
      .hiring-badge {
        display: none;
      }

      &:nth-child(2) {
        .dropdown-menu {
          margin-top: -60px !important;
        }
      }

      &:nth-child(3) {
        .dropdown-menu {
          margin-top: -100px !important;

          .title-text {
            display: none;
          }

          .mobile-text {
            display: flex;
          }
        }
      }
    }

    .nav-link {
      color: $white;
      font-size: 17px;
      position: relative;
      padding: 0 !important;

      .bi-chevron-down {
        margin-left: 10px;
        font-size: 14px;
        padding: 0 !important;
      }
      &.show {
        color: $white;
      }
      @media (max-width: $tablet-breakpoint1) {
        color: #000;
        font-size: 25px;
        line-height: 30px;

        .bi-chevron-down {
          &:before {
            right: 0;
            top: -2px;
            font-size: 25px;
            position: relative;
            color: $tag-color;
            background: url(https://do7q3d8g8n6kn.cloudfront.net/images/mobile-lisy-arrow.svg) no-repeat right center;
            content: "";
            width: 30px;
            height: 30px;
          }
        }
        span {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      &.dropdown-toggle {
        &:after {
          display: none;
        }

        &.show::after {
          display: inline-block;
          transition: all 250ms ease-in-out;
          display: none;
        }
      }
    }

    &.open_slide_menu {
      @media (max-width: $tablet-breakpoint1) {
        margin-left: -30px;
        transform: translateX(calc(-100% - 100px));
        display: block;
        height: 0 !important;

        .nav-link {
          height: 0;
          position: absolute;
        }
      }
    }

    &.show {
      @media (max-width: $tablet-breakpoint1) {
        opacity: 1;
        height: auto;

        .dropdown-menu {
          opacity: 1;
          display: block !important;
          margin-right: 0 !important;
        }
      }
    }

    .dropdown-menu {
      @media (max-width: $tablet-breakpoint1) {
        transform: translateX(calc(100% + 133px)) !important;
        opacity: 0;
        height: 0;
        display: none !important;
        padding: 0 20px;
      }
    }
  }

  .service-menu-main {
    height: 100%;
  }

  .company-menu {
    .left-section {
      p {
        color: $addxp-gray-light;
      }
    }

    .rich-text-content {
      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 20px;
      }
    }
  }

  .blog-menu {
    .left-section {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }

    .col-md-4 {
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        width: 1px;
        height: 100%;
        content: "";
        top: 0;
        background: $addxp-gray-light;

        @media (max-width: $tablet-breakpoint) {
          left: 25px;
        }
      }
    }
  }

  .col-md-5 {
    .left-section {
      width: 378px;

      @media (max-width: $tablet-breakpoint) {
        width: fit-content;
      }
    }
  }

  .left-section {
    padding-right: 72px;
    margin-right: 72px;
    border-right: 1px solid $addxp-gray-light;
    opacity: 1;

    @media (max-width: $tablet-breakpoint1) {
      padding: 0;
      border: 0;
      margin-right: 0;
      margin-bottom: 30px;
    }

    p {
      @media (max-width: $tablet-breakpoint1) {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 114px;

      @media (max-width: $tablet-breakpoint1) {
        display: none;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    border: none;
    top: -30px;
    left: 0 !important;
    right: 0 !important;
    opacity: 1;
    display: none;
    width: 100%;
    -webkit-transition: 500ms display linear;
    -moz-transition: 500ms display linear;
    transition: 500ms display linear;
    z-index: 3;
    position: absolute !important;
    text-align: left;
    border-radius: 20px;
    box-shadow: none;
    @include transition;
    margin: auto !important;
    max-width: 1160px;

    &:after {
      content: url(https://do7q3d8g8n6kn.cloudfront.net/images/dropdown-up-arrow.svg);
      height: 41px;
      width: 48px;
      z-index: 9;
      margin-left: 54px;
      border: 0;
      position: absolute;
      left: 58%;
      top: -35px;
      transform: translateX(-50%);

      @media (min-width: $desktop-breakpoint3) {
        left: 60%;
      }

      @media (max-width: ($desktop-breakpoint1 - 1px)) {
        left: 54%;
        margin-left: 0;
      }

      @media (max-width: $tablet-breakpoint) {
        left: 49%;
      }
    }

    @media (max-width: $tablet-breakpoint1) {
      position: static !important;
    }

    &.show {
      margin-left: 0;
      margin-top: 15px;
      opacity: 1;
      height: 358px;
      display: block;
      -webkit-transition: 500ms display linear;
      -moz-transition: 500ms display linear;
      transition: 500ms display linear;
      @include transition;
      top: 85px;
      box-shadow: 0px 5px 50px #0000001f;

      @media (max-width: $tablet-breakpoint) {
        max-width: fit-content !important;
        height: fit-content;
      }

      @media (max-width: $tablet-breakpoint1) {
        box-shadow: none !important;
        opacity: 1 !important;
      }
    }

    .mega-content {
      padding: 20px 40px;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0;
      justify-content: space-between;

      .col-md-6,
      .col-md-8,
      .col-md-4 {
        @media (max-width: $tablet-breakpoint1) {
          width: 100%;
        }
      }

      .col-md-8,
      .col-md-4 {
        padding: 0;
      }

      .col-md-8 {
        max-width: 675px;
        padding-right: 95px;

        @media (max-width: $tablet-breakpoint) {
          max-width: fit-content;
          padding-right: initial;
        }

        @media (max-width: $tablet-breakpoint1) {
          max-width: 100%;
        }
      }

      .col-md-4 {
        padding-left: 95px;
        width: 375px;

        @media (max-width: $tablet-breakpoint) {
          padding-left: 50px;
        }

        @media (max-width: $tablet-breakpoint1) {
          padding-left: 0;
          width: 100%;

          &::before {
            display: none;
          }
        }
      }

      .service-menu {
        width: 33.33%;
      }

      .col-md-7 {
        .row {
          margin: 0;
        }

        @media (max-width: $tablet-breakpoint1) {
          width: 100%;
        }
      }

      &.company-menu {
        align-items: flex-start;

        .col-md-5,
        .col-md-7 {
          padding: 0;
        }
      }

      @media (max-width: $tablet-breakpoint1) {
        padding: 0 0 30px 0;
      }

      .title-text {
        font-size: 35px;
        font-weight: 400;
        line-height: 50px;
        margin-bottom: 10px;
        color: #000;
        margin-top: 20px;

        .bi-chevron-down {
          display: none;
        }

        @media (max-width: $tablet-breakpoint1) {
          margin-bottom: 0px;
          display: flex;
          padding-left: 0;
          margin-top: 0;
          font-size: 30px;
          line-height: 40px;

          .bi-chevron-down {
            display: block;

            &:before {
              transform: rotate(-180deg);
              display: block;
              position: relative;
              color: $tag-color;
              top: 0;
              left: -2px;
              background: url(https://do7q3d8g8n6kn.cloudfront.net/images/mobile-lisy-arrow.svg) no-repeat right center;
              content: "";
              width: 30px;
              height: 30px;
            }
          }
        }

        a {
          color: #000;
          transition: 0.2s;

          &:hover {
            font-weight: bold;
            color: $tag-color;

            .chevron-right {
              background: url(https://do7q3d8g8n6kn.cloudfront.net/images/chevron-right-hover.svg) 0 0 no-repeat;
              transform: translate3d(5px, 0, 0);
              transition: 0.3s;
            }
          }
        }
      }

      .content {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 0;
        margin-bottom: 30px;
        max-width: 305px;

        @media (max-width: $tablet-breakpoint1) {
          max-width: 100%;
        }

        @media (max-width: $tablet-original) {
          margin-bottom: 10px;
          max-width: 97%;
        }
      }

      .tech_box {
        display: inline-block;
        position: relative;

        &:after {
          position: absolute;
          left: -15px;
          display: block;
          content: "";
          border-left: solid 3px #5765f2;
          height: 92px;
          transform: scaleY(0);
          transition: transform 250ms ease-in-out;
          top: 0;
          border-radius: 3px;
        }

        &:hover:after {
          transform: scaleY(1);
        }

        img {
          padding-bottom: 10px;
          height: 47px;
          display: block;

          @media (max-width: $mobile-breakpoint) {
            padding-bottom: 5px;
          }
        }
      }

      .secondary-title {
        max-width: 310px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #000;
        margin-bottom: 0;

        @media (max-width: $mobile-breakpoint) {
          font-size: 25px;
          line-height: 32px;
          font-weight: normal;
          margin-bottom: 10px;
          padding: 0;
        }

        .hiring-badge {
          background: #5765f22e;
          padding: 2px 10px;
          border-radius: 5px;
          font-size: 15px;
          line-height: 23px;
          color: $tag-color;
          display: inline-block;
          font-weight: 500;
          margin-left: 5px;
        }
      }

      .col-md-6 {
        margin-bottom: 53px;
        padding: 0;
        max-width: 280px;
        margin-right: 70px;

        @media (max-width: $tablet-breakpoint) {
          max-width: 240px;

          &:last-child {
            margin-bottom: 0;

            .content {
              margin-bottom: 0;
            }
          }
        }

        @media (max-width: $tablet-breakpoint1) {
          max-width: 100%;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        @media (max-width: $tablet-breakpoint1) {
          margin-bottom: 23px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.service-menu {
          margin: 24px 0;
          max-width: 295px;
          padding: 0;

          @media (max-width: $tablet-breakpoint) {
            min-width: 255px;
            margin: 0 0 35px;
            max-width: 26.7%;
          }

          @media (max-width: $tablet-breakpoint1) {
            max-width: 100%;
            width: 100%;

            &:last-child {
              padding-bottom: 50px;
            }
          }

          &:not(:nth-child(3n + 1)) {
            margin-right: 90px;
          }

          &:nth-last-child(-n + 3) {
            @media (min-width: ($tablet-breakpoint1 + 1)) and (max-width: $tablet-breakpoint) {
              margin-bottom: 0;
            }
          }

          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      .compnay-overview {
        .people-iocn {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/peoples.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .comment-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/comment.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .story-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/story.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .user-plus-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/career.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .user-brand {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/brand-icon.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .user-case-studies {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/css/case-studies-hover.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;
          filter: brightness(0);

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .user-release-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/press-icon.svg) 0 0 no-repeat;
          height: 30px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        .user-edit-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/blog-edit.svg) 0 0 no-repeat;
          height: 35px;
          width: 40px;
          display: inline-block;

          @media (max-width: $mobile-breakpoint) {
            height: 35px;
            width: 35px;
            margin-right: 10px;
          }
        }

        &:hover .people-iocn {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/peoples-hover.svg) 0 0 no-repeat;
        }

        &:hover .comment-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/comment-hover.svg) 0 0 no-repeat;
        }

        &:hover .story-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/story-hover.svg) 0 0 no-repeat;
        }

        &:hover .user-plus-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/career-hover.svg) 0 0 no-repeat;
        }

        &:hover .user-brand {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/brand-icon-hover.svg) 0 0 no-repeat;
        }

        &:hover .user-case-studies {
          filter: brightness(1);
        }

        &:hover .user-release-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/press-icon-hover.svg) 0 0 no-repeat;
        }

        &:hover .user-edit-icon {
          background: url(https://do7q3d8g8n6kn.cloudfront.net/images/blog-edit-hover.svg) 0 0 no-repeat;
        }

        &:hover .secondary-title {
          color: $tag-color;
        }
      }

      .chevron-right {
        background: url(https://do7q3d8g8n6kn.cloudfront.net/images/chevron-right.svg) 0 0 no-repeat;
        height: 30px;
        width: 30px;
        display: inline-block;
        transition: 0.3s;
      }

      .blog-overview {
        position: relative;

        ul {
          list-style: none;
          padding: 0;

          li {
            display: inline-block;
            width: 170px;
            margin-right: 30px;
            border-radius: 6px;
            overflow: hidden;

            &:nth-child(3n) {
              margin-right: 0;
            }

            @media (max-width: $desktop-breakpoint1) {
              margin-right: 20px;
            }

            .blog-image {
              max-height: 80px;
              overflow: hidden;
              border-radius: 6px;
              margin-top: 10px;
              -webkit-transition: all 1s ease;
              /* Safari and Chrome */
              -moz-transition: all 1s ease;
              /* Firefox */
              -ms-transition: all 1s ease;
              /* IE 9 */
              -o-transition: all 1s ease;
              /* Opera */
              transition: all 1s ease;
              position: relative;
              cursor: pointer;

              img {
                border-radius: 6px;
                width: 100%;
                height: 80px;
                transform: scale(1);
                transition: 0.3s;
              }
            }

            .content {
              margin: 10px 0;
              font-size: 15px;
              margin-bottom: 0;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:hover {
              img {
                -webkit-transform: scale(1.1);
                /* Safari and Chrome */
                -moz-transform: scale(1.1);
                /* Firefox */
                -ms-transform: scale(1.1);
                /* IE 9 */
                -o-transform: scale(1.1);
                /* Opera */
                transform: scale(1.1);
                transition: 0.3s;
              }

              .blog-image {
                &:before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: rgb(165 209 255 / 40%);
                  content: "";
                  z-index: 1;
                }
              }
            }
          }
        }

        .blog-link {
          color: #000;
          display: flex;
          align-items: center;
          margin-top: 10px;

          img {
            width: 23px;
            height: 18px;
            margin-left: 6px;
            filter: invert(8) brightness(0);
          }
        }
      }
    }

    .label {
      font-size: 12px;
      line-height: 18px;
      border-radius: 5px;

      @media (max-width: $tablet-breakpoint1) {
        display: none;
      }
    }

    .btn-defualt {
      margin-top: 0;
    }

    .mobile-blog-menu {
      display: none !important;

      @media (max-width: $tablet-breakpoint1) {
        display: block !important;
      }
    }

    .compnay-overview {
      display: block;

      &.insight-menu {
        margin-bottom: 37px;

        .content {
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: $tablet-breakpoint1) {
          margin-bottom: 50px;
        }

        @media (max-width: $tablet-original) {
          margin-bottom: 20px;
        }
      }

      @media (max-width: $tablet-breakpoint1) {
        margin-bottom: 0;
      }
    }
  }

  .icon-rocket {
    width: 52px;
    position: relative;
    display: inline-block;
    cursor: pointer;

    @media (max-width: $mobile-breakpoint) {
      margin-left: 0;
    }

    .icon-hover {
      display: none;
    }

    &:hover {
      .icon-hover {
        display: block;
        @include transition;
        position: absolute;
        left: -38px;
        top: 36px;
      }
    }
  }
}

body {
  &.show-menu {
    header {
      @media (max-width: $tablet-breakpoint1) {
        background: $black;
        transition: 0.3s;
      }
    }

    .navbar-toggler {
      @media (max-width: $tablet-breakpoint1) {
        background: url(https://do7q3d8g8n6kn.cloudfront.net/images/close-icon-toggle.svg) no-repeat left top;
        transition: 1s;
      }
    }
  }

  &.toggle_slidemenu_open {
    .mobile-menu-desc {
      @media (max-width: $tablet-breakpoint1) {
        display: none !important;
      }
    }
  }
}

.scroll-stop {
  max-height: 100vh;
  overflow-y: hidden;
}

.show_form {
  .dropdown-menu.show {
    display: none;
  }
}
.navbar-toggler-icon {
  display: none;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar-expand-lg {
  .navbar-collapse {
    @media (min-width: 992px) and (max-width: $tablet-breakpoint1) {
      display: block !important;
    }
  }
  .navbar-nav {
    @media (min-width: 992px) and (max-width: $tablet-breakpoint1) {
      flex-direction: column;
    }
  }
}
